﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:RadioButton ID="rb1" runat="server" GroupName="group1" Text="rb1" />
        <asp:RadioButton ID="rb2" runat="server" GroupName="group1" Text="rb2" />
        <asp:RadioButton ID="rb3" runat="server" GroupName="group2" Text="rb3" />
        <asp:RadioButton ID="rb4" runat="server" GroupName="group2" Text="rb4" />
    </div>
    </form>
</body>
</html>
